body {
    margin:0;
}
/*navigation bar---------------------------------------------------------------------------------------*/
header {
    width:100%;
    position: fixed;
    height: 80px;
    top:0;
    z-index:3;
    background-color: rgb(252, 248, 248);
    box-shadow:0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 3px 1px rgb(0 0 0 / 7%);  
}
.header-container {
    max-width: 1200px;
    margin:0 auto;  
    height: 100%;
    display: flex;    
    
}
/*Left navigation bar----------------------------------------------------------------------------------------------*/
.left-nav{
    display: flex;
    height: 100%;
    width:50%;

}

.logo{
    height:70%;      
}

.logo img{
    height: 100%;
    margin-top: 5px;
    margin-left:6px
    
}

.logo p{
    margin-top:0px;   
    font-family: 'Pacifico', cursive;
    font-weight:bold;
    font-size: 14px;
    color:rgb(85, 87, 87)

}
.options{
    margin-top: 3px;
}
.main-menu{
    display: flex;
    list-style-type:none;
    padding-top:9px;
}
.main-name {
    color: rgba(209, 97, 17, 0.747);
    text-decoration:underline;
    font-size: 15px;
} 
 
.main-menu li a{ 
     padding: 12px;
     font-family: 'Zen Kaku Gothic Antique', sans-serif;
     font-weight: 600;
     color: rgb(68, 67, 67);
     font-size:14px;
     cursor: pointer;
     text-decoration: none;
}
.sub-menu{
    background-color:rgb(252, 248, 248);
    border: 1px solid rgb(182, 181, 181);
    display: none;
    width: 150px;
    height:120px;
    border-radius: 7px;
    position: absolute;
    left:190px;
    list-style: none;
    padding-top: 30px;
    box-shadow: 0 4px 6px 5px rgb(0,0,0, 10%), 0 6px 15px 5px rgb(0,0,0, 25%);
    margin-top: 20px;
}
.about-us:hover .sub-menu{
    display:block;
}
.sub-menu img{
    width: 40px;
    height:20px;
    position: absolute;
    bottom:147px;
    margin-left:40px;
}
.sub-menu li{
    margin-bottom: 20px;
    margin-left:19px;
    display: block;
    cursor: pointer;
}      
.main-menu li a:hover{
    text-decoration: underline;
    color: rgba(209, 97, 17, 0.747);
}

/*Right navigation bar------------------------------------------------------------------------------------------------------*/
.right-nav {
    display: flex;
    width: 50%;
    align-items: center;
} 
.store-location {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 280px;
    padding-right: 18px;
}

.Find-a-store{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: 600;
    color: rgb(68, 67, 67);
    font-size:14px;
    padding-left: 5px;
    cursor: pointer;
    text-decoration:none;
}

.store-location i{
    font-size: 150%;
    color: rgb(99, 96, 96); 
    cursor:pointer;
}

.store-location :hover{
    color: rgb(209, 97, 17,0.747);
}

.sign-in {
    margin-left: 7px;
}
.sign-in a{
    text-decoration: none;
}
.sign-in  p{
    padding: 7px 16px;
    border:1px solid;
    border-radius: 50px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size:14px;
    font-weight: 600;
    background-color:rgb(209, 97, 17, 0.747);
    color:white;
    cursor:pointer;
}
.sign-in p:hover {
    background-color: white;
    color: black;
    border-color: black;
    transition: 0.5s;
}    

.searching {
    margin-left: 30px;
}
.searching i{
    font-size:150%;
    color:rgb(99, 96, 96); 
}
.searching i:hover{
    color: rgb(209, 97, 17, 0.747);;
}

/*body----------------------------------------------------------------------------------------------------------*/

/*products header-------------------------------------------------------------------------------------------------------------------*/
.products-header{
    align-items:center;
    display:flex;
    position: fixed;
    top:80px;
    left:75px;
    z-index: 2;
    width:1200px;
    margin:auto;
    border-bottom:1px solid;
    background-color: white;
    border-color:rgb(167, 164, 164);
}
.filter{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size:16px;
    margin-left:20px;
    font-weight: 600;
    display: flex;
    align-items:center;
    background-color: rgb(214, 218, 218);
    padding:15px 20px;
    border-radius:10px;
    cursor:pointer;
}
.filter:hover{
    background-color: rgb(174, 175, 175);
    transition:0.3s;
}
.filter i{
    margin-left:30px;
    font-size:16px;
    color: rgb(65, 64, 64); 
}
.Tea-Types{
    margin-left: 140px;
}
.tea-types li ,h3{
    list-style: none;
    color: rgb(68, 67, 67);
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size:16px;
    cursor: pointer;
}
    
.tea-types li:hover h3{
    color:rgb(209, 97, 17,0.747)
}
.tea-types li:hover #arrow{
    transform: rotate(180deg);
    transition: 0.3s;
}
/*drop down list-----------------------------------------------------------------------------------------*/
.tea-types li .list{
    position:absolute;
    display: none;
    width: 450px;
    height:70px;
    right:500px;
    background-color:rgb(252, 248, 248);
    border: 1px solid rgb(182, 181, 181);
    box-shadow: 0 4px 9px 5px rgb(0,0,0, 30%);
    list-style:none;
    padding-top:22px;
    padding-left:70px;
    border-radius:7px;
}
.tea-types li:hover .list{
    display: flex;
}
.list img{
    width: 40px;
    height:20px;
    position: absolute;
    bottom:88px;
    left:227px;
}
.list li{
    margin-right: 25px;
}
.list li a {
    display:flex;
    flex-direction: column;
    align-items:center;
    text-decoration: none;
}

.list li a p{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size:14px;
    font-weight: 600;
    color: rgb(68, 67, 67);
    margin:1px;
}
.list li:hover p{
    color:rgb(209, 97, 17,0.747);
}
.list li a i{
    margin:1px;
    color: rgb(156, 156, 156);
    font-size:27px;
}
/*---tea cup colors---------------------------------------------------------------------------------------*/
.list li a:hover #yellow-cup{
    color: rgba(208, 211, 13, 0.884);
}
.list li a:hover #green-cup{
    color: rgba(58, 158, 12, 0.884);
}
.list li a:hover #black-cup{
    color: rgba(26, 25, 25, 0.884);
}
.list li a:hover #purple-cup{
    color: rgba(134, 15, 170, 0.884);
}

/*-------------------------------------------------------------------------------------------------------*/
.prize-filter{
    position:absolute;
    left:690px;
    display:flex;
    align-items: center;
}
.prize-filter input{
    -webkit-appearance: none;
    background-color: rgb(202, 207, 205);
    border-radius: 7px;
    height:9px;
    width: 200px;
}
.prize-list{
    display:flex;
    position:absolute;
    top: 20px;
    left:11px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 13px;
}
.prize-list li{
    list-style:none;
    margin-right: 30px;
} 
/*-------------------------------------------------------------------------------------------------------*/
.sort{
    margin-left: 450px; 
}
.sort label{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size:16px;
    font-weight: 600;
    color: rgb(68, 67, 67);
}
.sort select{
    border:none;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size:16px;
    font-weight: 200;
    color: rgb(68, 67, 67);
    
}
.sort select option{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size:16px;
    font-weight: 200;
    color: rgb(68, 67, 67);
}
/*---tea type name---------------------------------------------------------------------------------------------------*/
.tea-type-name{
    margin-top:200px;
    margin-left: 80px;  
}
.tea-type-name h3{
    font-size: 18px;
    font-weight: 300;
}

/*--tea packet cards-----------------------------------------------------------------------------------------------------------*/
/*---slides----------------------------------------------------------------------------------------------------------*/
.frist-slide{
    display:flex;
    width:1200px;
    height:390px;
    margin:auto;
}
.second-slide{
    display:flex;
    width:1200px;
    height:500px;
    margin:auto;
    margin-top:5px;
}

/*---All cards apply this styles---------------------------------------------------------------------------------------------*/

.slide-cards{
    background-color: white;
    position: relative;
    top: 15px;
    width: 260px;
    height:350px;
    border-radius: 15px;
    box-shadow:0 4px 6px rgb(0,0,0, 10%), 0 6px 20px rgb(0,0,0, 25%);
    cursor:pointer;
    margin-left: 20px;
    margin-right: 20px;
}
.slide-cards:hover{
    top:0px;
    transition: 0.4s ease-in;
}

.tea-card-background{
    width: 100%;
    height:50%;
    border-radius:15px 15px 50% 50%/15px 15px 25% 25%;
    opacity: 0%;
}
.slide-cards:hover .tea-card-background{
    opacity: 100%;
    transition:0.4s ease-in;
}
.card-image{
    width:160px;
    height:200px;
    position: absolute;
    bottom:145px;
    margin-left: 47px;
}
.tea-card-content{
    margin-left:10px;
    margin-top: 25px;
}
.tea-prize{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size:15px;
    font-weight: 200;
    color: rgb(68, 67, 67);
    margin-bottom: 10px;
}
.tea-name{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size:16px;
    font-weight: 600;
    color: rgb(58, 57, 57);
    margin-top:1px;
    margin-bottom: 1px;
}
.tea-discription{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size:15px;
    font-weight: 200;
    color: rgb(68, 67, 67);
    margin-top:4px;
}


/*footer---------------------------------------------------*/
/*follow social-media---------------------------------*/
footer{
    background-color: #e7e7e7;
}
    
.break-line{
    border-top:1px solid; 
    border-color:rgb(99, 96, 96);
    width:1300px;
    margin:auto;
    margin-top: 20px;
}
.social-media{
    display: flex;
    align-items:center;  
}
.social-media p{
    font-size: 20px;
    font-family:'Zen Kaku Gothic Antique', sans-serif;
    padding-right: 8px;
}

.social-media i{
    font-size:25px;
    padding-right:10px;
    cursor: pointer;
    color: rgb(99, 96, 96);
}
.social-media i:hover{
    color:rgba(209, 97, 17, 0.747);
}

/*footer links-------------------------------------------*/
.links{
    display: flex;
    margin-left: 250px;
}
.links ul {
    list-style: none;
    margin-right: 40px;
}
.links ul li {
    padding-bottom: 20px;
    text-decoration:none;
}
.links ul li h3{
    font-weight: 600;
    color: rgb(70, 69, 69);
}
.links ul li a{
    text-decoration: none;
    font-weight: 300;
    color: rgb(70, 69, 69);
}
.links ul li a:hover{
    color:rgba(209, 97, 17, 0.747);
}

/*end line-----------------------------------*/
.end-line ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 400px;
}
.end-line li a{
    padding-right: 30px;
    font-family:'Zen Kaku Gothic Antique', sans-serif;
    color: rgb(70, 69, 69);;
    text-decoration: none;
    font-weight: 300;
    font-size:15px;
}
.end-line li a:hover{
    color: rgba(209, 97, 17, 0.747);
}
